// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

$teal: #56A5BF;
$dark-teal: #1C7592;
$light-teal: #B0DFEE;

// General nav
nav {
    margin-bottom: 40px !important;
}

#CAC_logo {
	content: url("../../static/images/CAC_logo.png");
	height: 60px;
	width: auto;
	margin-right: 15px;
	padding-left: 10px;
}

.ui.secondary.pointing.menu {
	background-color: $teal;
	width: 100%;
	font-size: 1.3em;
}

.ui.secondary.pointing.menu > .header.item {
	color: #FFF !important;
	font-size: 1.4em;
	font-weight: 400;
	border: none;
}

.ui.secondary.pointing.menu > .right.menu {
	margin-right: 20px;
	padding-bottom: 1.5em;
}

.ui.secondary.pointing.menu > .right.menu > a{
	color: #FFF;
	text-transform: uppercase;
}

.ui.secondary.pointing.menu > .right.menu > a:hover {
	background-color: $light-teal;
	border-radius: 5px;
}

.ui.secondary.pointing.menu > .right.menu > a.active {
	background-color: $light-teal;
	color: #FFF;
	border: none;
	font-weight: 400;
}

// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
    border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

// Mobile nav
nav .mobile.only.row {
    .ui.vertical.menu {
        margin-top: 40px;
        display: none;
        background-color: $dark-teal;
    }
}

nav .mobile.only.row {
    .ui.main.menu {
    	background-color: $teal;
    }
}

.ui.vertical.menu > a {
	color: #FFF;
}

// Flashes
.flashes > .ui.message:last-of-type {
    margin-bottom: 2rem;
}

ui.red.pointing.label {
	background-color: #FF684C !important;
}

// Tables
table.selectable tr:hover {
    cursor: pointer !important;
}

// Text
h1, h2 {
	color: $dark-teal !important;
	text-transform: uppercase !important;
}


