// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

$teal: #56A5BF;
$dark-teal: #1C7592;
$light-teal: #7CC1D8;
$dark-gray: #222222;
$white: #FFFFFF;
$red: #EE4222;
$light-red: #FF684C;

// General nav

.ui.navigation.grid {
    margin: 0px 0px 50px 0px;
}

.body.container {
	min-height: 100%;
}

#CAC_logo {
	content: url("../../static/images/CAC_logo.png");
	height: 2em;
	width: auto;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
    border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

nav .computer.only.row {
    padding: 0;
	.ui.secondary.pointing.menu > .right.menu {
		margin-right: 2em;
		padding-bottom: 1em;
	}
	.ui.secondary.pointing.menu > .right.menu > a{
		color: $white;
		text-transform: uppercase;
	}
	.ui.secondary.pointing.menu > .right.menu > a:hover, .ui.dropdown.item:hover {
		background-color: $light-teal;
		color: $white;
		border-radius: 0.5em;
	}
	.ui.secondary.pointing.menu > .right.menu > a.active {
		background-color: $light-teal;
		color: $white;;
		border: none;
		font-weight: 400;
	}
	.ui.secondary.pointing.menu {
		background-color: $teal;
		width: 100%;
		font-size: 1.3em;
	}
	.ui.secondary.pointing.menu > .header.item {
		color: $white !important;
		font-size: 1.4em;
		font-weight: 400;
		border: none;
	}
}

// Mobile nav
nav .mobile.only.row {
    .ui.vertical.menu {
    	margin-top: 45px;
        display: none;
        background-color: $dark-teal;
    }
    .ui.vertical.menu > a,.ui.vertical.menu > ui.dropdown.item:hover{
    	color: $white;
    	text-transform: uppercase;
    } 
    .ui.main.menu {
    	background-color: $teal;
    }
    .ui.vertical.secondary.menu > a {
		color: $dark-gray;
	}
}

#dashboard_dropdown {
	color: $white;
	font-weight: 400;
	text-transform: uppercase;
}

#dashboard_dropdown > div > .header {
	color: $dark-gray;
}

#nav_dashboard {
	text-align: center;
	color: $teal !important;
	text-transform: uppercase !important;
	border-bottom: solid 1px $light-teal;
}

.ui.menu .ui.dropdown .menu>.item {
	color: $dark-gray;
	font-size: 0.8em !important;
}

// Flashes

.flashes > .ui.message {
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: 12;
}
.ui.red.error {
	color: $red;
}
.ui.red.pointing.label {
	background-color: $red !important;
	border-color: $red !important;
}
.ui.red.label:before {
	background-color: $red !important;
}

// Tables
table.selectable tr:hover {
    cursor: pointer;
}

// Text
h1, h2, .ui.dividing.header {
	color: $dark-teal;
	text-transform: uppercase;
}
h3 {
	margin-bottom: 0.3em;
}
.ui.form .field>label, p, input {
	font-size: 1.1em;
}

#incident_info {
	position: relative;
	color: $dark-teal;
	width: 0px;
	top: 500px;
}

.sub.header {
	text-transform: none;
}

//Footer
footer {
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 1em;
	margin-top: 5%;
	background-color: $teal;
}

#h4i_logo {
	content: url("../../static/images/h4i_square_white.png");
	height: 1.2em;
	width: auto;
	margin-right: 0.5em;
}

footer > div > h3, footer > div > h3 > a{
	color: $white;
	text-align: center;
	margin-top: 0;
	font-weight: 300;
}

.icon.heart:hover {
	color: $red;
}
