@import "app";

.ui-rangeSlider-bar {
    background: $teal;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.ui-rangeSlider-container {
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;
}

.ui-rangeSlider-innerBar {
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#addressSearch {
    position: absolute;
    left: 30px;
    top: 49px;
    z-index: 99;
}
#submitButton {
    position: absolute;
    background-color: $teal;
    color: $white;
    -moz-border-radius: 30px;
    border-radius: 30px;
    left: 220px;
    top: 49px;
    z-index: 99;
}

#slider {
    position: absolute;
    width: 20%;
    right: 80px;
    top:10px;
    z-index: 99;
}

#googleMap {
    width:100%;
    left: 0px;
    top: 0px; 
}

#wrapper {
    position:relative;
}

#address_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

#geocode_error {
    position: fixed;
    text-align: center;
    margin: 0px 0px 0px -150px;
    width: 300px;
}

.ui.approve.button {
    display: block;
    margin: 0 auto;
}
