{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
        <h1>About</h1>

        <p> Idling is the running of a vehicle's engine when the vehicle is not in motion, or being used. Idling is bad for the environment, your health, and your wallet. It is also illegal in Pennsylvania for trucks to idle for over five minutes, and in Philadelphia for any vehicle to idle for over three minutes (zero minutes for layovers).
     You should use this app to report any vehicle you see, especially city vehicles or commercial vehicles.</p>

    </div>

    <script type="text/javascript">
		$(document).ready(function () {
		 $("#nav_about").addClass('active');
		});
	</script>

{% endblock %}

