<h3>Is it true that idling your engine saves more money than turning it off and back on?</h3>
<p>No, in fact, if you idle for longer than 10 seconds you are wasting more gas. It used to be true, with older vehicles that had carburetors, that turning an engine on would consume substantial amounts of fuel. However, modern vehicles (anything past the mid-80s) use fuel-injection and this uses almost no fuel to start an engine.</p>

<h3>Is idling a vehicle the best way to get it ready to drive ("warmed-up")?</h3>
<p>No, idling causes unnecessary wear and tear on your vehicle. The best way, by far, to get the engine warmed up is to drive it. Modern engines respond best when driven, not sitting idling.</p>

<h3>What about getting the interior warm or cold, is idling ok for that?</h3>
<p>No, driving the vehicle is the quickest way to get warm or cold air into the interior of the vehicle.</p>

<h3>Does idling really waste that much gas?</h3>
<p>Yes, idling a vehicle can waste between 20% to 70% of a gallon of gas per hour.</p>

<h3>Is idling worse for the environment (air quality) than driving a vehicle?</h3>
<p>Yes, not only is idling completely unnecessary and thus contributes unnecessary amounts of pollution into the air, but also, idling exhaust is more toxic than emissions from a vehicle that is being driven. The reason is that the vehicle is meant to be driven and when it is it burns dangerous chemicals in gasoline. When idling, the engine does not get hot enough to burn these chemicals off and they are emitted from the tailpipe.</p>

<h3>Who is most affected by idling engines?</h3>
<p>The most affected are those with breathing ailments, suffering from heart ailments, in poor health, and the elderly and children.</p>

<h3>What are the harmful effects of idling vehicles?</h3>
<p>Chemicals that emitted from idling engines are harmful to the air quality and add to ground level ozone. Some of the harmful elements are Nitrogen oxide ("NOx"), particulate matter ("PM2" & "PM10"), carbon monoxide ("CO") and volatile organic compounds ("VOCs"). Diesel engines are the most dangerous and the most harmful pollutants.</p>

<h3>Do emissions from idling contribute to Climate Change?</h3>
<p>Yes, vehicles emit Carbon Dioxide (CO2) which is a heat trapping gas and thus contributes to Climate Change. Additionally, because idling wastes gas, it makes it necessary to produce more and transport more of it, thus contributing even more to Climate Change.</p>