{% extends 'layouts/base.html' %}
{% block content %}
<link rel="stylesheet" href="static/styles/iThing.css" type="text/css" />
<link rel="stylesheet" href="static/styles/map.css" type="text/css" />
<script src="static/js/jquery-ui.js"></script>
<script src="static/js/jQDateRangeSlider-min.js"></script>
<script src="static/js/initialize_map.js"></script> 
<meta id="vehicle_ids" data-name="{{vehicle_ids}}">
<meta id="license_plates" data-name="{{license_plates}}">
<meta id="latitudes" data-name="{{latitudes}}">
<meta id="longitudes" data-name="{{longitudes}}">
<meta id="dates" data-name="{{dates}}">
<meta id="durations" data-name="{{durations}}">
<meta id="agencies" data-name="{{agencies}}">
<meta id="pictures" data-name="{{pictures}}">
<meta id="descriptions" data-name="{{descriptions}}">
<div class ="column">
    <div id="wrapper">
            <div id="googleMap"></div>
            <div id="slider"></div>
            <form name = "addressForm" id = "addressForm">
            <div class="ui search" id="addressSearch">
            <input class = "prompt" placeholder="Enter Address" type="text" name="address" id="address">
            </div>
            <br><input class="ui button" type="submit" id="submitButton" value="Submit"><br>
            </form>
        <div id="row">
            <div class="ui form">
            <div class="fields">
                <div class="three wide field">
                    <label>License Plate Number</label>
                    <input type="text" placeholder="e.g. MG-1234E">
                </div>
                <div class="three wide field">
                    <label>Vehicle ID</label>
                    <input type="text" placeholder="e.g. 105014">
                </div>
            </div>
            <div class="fields">
                <div class="six wide field">
                    <label>Notes </label>
                    <input type="text" placeholder="e.g. Driver sleeping">
                </div>
                <div class="three wide field">
                    <label>Idling Duration (in minutes) </label>
                    <input type="number" placeholder="e.g. 10">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
