{% extends 'layout/base.html' %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="type/css" href="semantic/dist/semantic.min.css">
        <script src="semantic/dist/semantic.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="http://www.geoplugin.net/javascript.gp" text="text/javascript"></script>
        <script src="js/initialize_map.js"></script>
        <form name = "addressForm" id = "addressForm">
            <input type="ui text" name="address" id="address" value="Enter Address">
            <br><input class="ui button" type="submit" value="Submit"><br>
        </form>
    </head>
    <body>
        <div id="googleMap" style="width:100%;height:100%">
        </div>
    </body>
</html>
{% endblock %}
