{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="ui two column grid">
    <div class="row">
        <div class="sixteen wide column">

            <div id="wrapper">
                <div id="googleMap"></div>
                <div id="form_button" class="ui red button ">Report Incident</div>
                <div class="ui segment" id="form_container">
                    {% set flashes = {
                    'error': get_flashed_messages(category_filter=['form-error']),
                    'warning': get_flashed_messages(category_filter=['form-check-email']),
                    'info': get_flashed_messages(category_filter=['form-info']),
                    'success': get_flashed_messages(category_filter=['form-success'])
                    } %}

                    {{ f.begin_form(form, flashes) }}
                    {{ f.render_form_field(form.license_plate_number) }}
                    {{ f.render_form_field(form.vehicle_ID) }}
                    {{ f.render_form_field(form.notes) }}
                    {{ f.render_form_field(form.idling_duration) }}
                    <div class="fields">
                        <button id="current_location_button" onclick="geoFindMe()">Use Current location</button>
                        {{ f.render_form_field(form.location)}}
                    </div>
                    {{ f.render_form_field(form.agency)}}
                    {{ f.render_form_field(form.bus_number, extra_classes='bus_number') }}
                    {{ f.render_form_field(form.led_screen_number, extra_classes='led_screen_number') }}
                    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                    {{ f.form_message(flashes['info'], header='Information', class='info') }}
                    {{ f.form_message(flashes['success'], header='Success!', class='success') }}
                    {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                    {{ f.render_form_field(field) }}
                    {% endfor %}
                    {{ f.end_form() }}
                </div>
                <div id="info_container">
                    <div class="ui segment" id="replaceable">

                    </div>
                </div>
                <div id="slider"></div>
                <form name="addressForm" id="addressForm">
                    <div class="ui search" id="addressSearch">
                        <input class="prompt" placeholder="Enter Address" type="text" name="address" id="address">
                    </div>
                    <br><input class="ui button" type="submit" id="submitButton" value="Submit"><br>
                </form>
            </div>
        </div>
    </div>


    </html>

    <script type="text/javascript">
    $('#form_container').hide()
    $('#info_container').hide()
    $('.bus_number').hide()
    $('.led_screen_number').hide()

    $('.red.button').click(function(){
        $('#form_container').toggle();
        $('#info_container').hide();
    });
    $('#agency').change(function(){

        if ($("#agency option:selected").val() === '5') {
            $('.bus_number').show()
            $('.led_screen_number').show()

        }
        else {
            $('.bus_number').hide()
            $('.led_screen_number').hide()

        }
    });
    function initializeMapAndMarkers() {
        markerWrappers = [];
        var minDate = new Date(2015, 0, 1);
        var bounds = new google.maps.LatLngBounds();
        {% for report in incident_reports %}
        $(function() {
            var marker = new google.maps.Marker({
                // Use latitude and longitude values from incident report
                // to set position of marker
                position:{lat: parseFloat('{{ report.location.latitude }}'), lng: parseFloat('{{ report.location.longitude }}')}
            });
            var dateString = '{{ report.date }}';
            year = parseInt((dateString.split(' '))[0].split('-')[0]);
            month = parseInt((dateString.split(' '))[0].split('-')[1])-1;
            day = parseInt((dateString.split(' '))[0].split('-')[2]);
            incidentDate = new Date(year, month, day);
            if (incidentDate.getTime() < minDate.getTime())
                minDate.setTime(incidentDate.getTime());
            //marker.setMap(map);
            var contentString = '<div id="replaceable">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<h1 id="firstHeading" class="firstHeading">Vehicle ID: ' + '{{ report.vehicle_id }}' +'</h1>' +
                                '<div id="bodyContent">' +
                                '<p>License Plate: ' + '{{ report.license_plate }}' + '</p>' +
                                '<p>Date: ' + '{{ report.date }}' + '</p>' +
                                '<p>Duration: ' + '{{ report.duration }}' + '</p>' +
                                '<p>Agency: ' + '{{ report.agency.name }}' + '</p>' +
                                '<p>Link to Picture: ' + '{{ report.picture_url }}' + '</p>' +
                                '<p>Description: ' + '{{ report.description }}' + '</p>' +
                                '</div>' +
                                '</div>';
            bounds.extend(marker.getPosition());
            markerWrapper = new MarkerWrapper(marker, incidentDate, contentString);
            markerWrappers.push(markerWrapper);
            var infoWindow = new google.maps.InfoWindow({
                content: contentString
            });

            // Add click listener to marker for displaying infoWindow
            marker.addListener('click', function() {
                $('#form_container').hide()
                $('#info_container').show()
                $('#replaceable').replaceWith(contentString)
            });
        });
        {% endfor %}
        var mapProp = {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                streetViewControl: false,
                scrollwheel: false,
        };
        map=new google.maps.Map($('#googleMap')[0],mapProp);
        google.maps.event.addListener(map, 'click', function(event) {
                $('#latitude').val(event.latLng.lat());
                $('#replaceable').hide()
                $('#longitude').val(event.latLng.lng());
                getReverseGeocodingData(event.latLng.lat(), event.latLng.lng())
          });
        storeMarkerState(markerWrappers, map, minDate, bounds);
        initializeDateSlider();
        addLocationButton(map);
    }
    $(document).ready(function() {
        // Add the map to the window
        google.maps.event.addDomListener(window, 'load', initializeMapAndMarkers);
        // Set the height of the googleMap to the height of the window (less
        // any elements above the googleMap)
        $(function () {
            $("#googleMap").css("height", $(window).height());
            $(".ui.navigation.grid").css("margin-bottom", "0");
            $("footer").css("margin-top", "0");
        });
    });


    function getReverseGeocodingData(lat, lng) {
        var latlng = new google.maps.LatLng(lat, lng);
        // This is making the Geocode request
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status);
            }
            // This is checking to see if the Geoeode Status is OK before proceeding
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results);
                 $('#location').val(results[0].formatted_address);
            }
        });
    }
    function geoFindMe() {
      if (!navigator.geolocation){
          return;
        }
      function success(position) {
        var geocoder = new google.maps.Geocoder;
        $('#latitude').val(position.coords.latitude);
        $('#longitude').val(position.coords.longitude);
        getReverseGeocodingData(position.coords.latitude, position.coords.longitude)
      };
      function error() {
      };
      navigator.geolocation.getCurrentPosition(success, error);
    }




    </script>


    <div class="ui centered modal" id="geocode_error">
        <i class="close icon"></i>

        <div class="header">Geocode not successful</div>
        <div class="actions">
            <div class="ui approve button">Okay</div>
        </div>
    </div>
    <div class="ui centered modal" id="address_error">
        <i class="close icon"></i>

        <div class="header">Address not found</div>
        <div class="actions">
            <div class="ui approve button">Okay</div>
        </div>
    </div>
    {% endblock %}
