{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <div class="ui two column vertically padded stackable grid">
              <div class="column">
                  <h2 class="ui header">
                    Agencies
                      <div class="sub header">
                        View and manage all agencies.
                      </div>
                  </h2>
              </div>
              <div class="computer only right aligned column">
                  <div class="ui icon input">
                      <input class="search-agencies" type="text" placeholder="Search agencies…">
                      <i class="search icon"></i>
                  </div>
              </div>
              <div class="mobile tablet only column">
                  <div class="ui icon input">
                      <input class="search-agencies" type="text" placeholder="Search agencies…">
                      <i class="search icon"></i>
                  </div>
              </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>Approved by Admin</th>
                            <th>Publicly Visible</th>
                            <th>Number Of Reports</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for a in agencies | sort(attribute='name') %}
                        <tr onclick="window.location.href = '{{ url_for('admin.agency_info', agency_id=a.id) }}';">

                            <td>{{ a.name }}</td>
                            <td>{{ 'Yes' if a.is_official else 'No' }}</td>
                            <td>{{ 'Yes' if a.is_public else 'No' }}</td>
                            <td>{{ a.incident_reports|length }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.search-agencies').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
{% endblock %}
