{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

# {% set deletion_endpoint = 'admin.delete_agency_request' %}

{% set endpoints = [
    ('admin.agency_info', 'Agency information'),
    ('admin.change_agency_official_status', 'Change official status'),
    ('admin.change_agency_public_status', 'Change public status'),
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route, agency_id=agency.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% macro agency_info(agency) %}
    <table class="ui compact definition table">
        <tr><td>Name</td><td>{{ agency.name }}</td></tr>
        <tr><td>Approved by Admin</td><td>{{ 'Yes' if agency.is_official else 'No' }}</td></tr>
        <tr><td>Publicly Visible</td><td>{{ 'Yes' if agency.is_public else 'No' }}</td></tr>
        <tr><td>Number Of Reports</td><td>{{ agency.reports|length }}</td></tr>
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.all_agencies') }}">
                <i class="caret left icon"></i>
                Back to all agencies
            </a>
            <h2 class="ui header">
                {{ agency.name }}
                <div class="sub header">View and manage {{ agency.name }}.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if form %}
                    {{ f.render_form(form) }}
                {% else %}
                    {{ agency_info(agency) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
