{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <a class="item {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
            {% if icon %}
                <i class="{{ icon }} icon"></i>
            {% endif %}
            {{ name | safe }}
        </a>
    {% endfor %}
{% endmacro %}

{% macro header_items(current_user) %}
    <a id = "nav_map" class="item" href="{{ url_for('main.index') }}">Map</a>
    <a id = "nav_about" class="item" href="{{ url_for('main.about') }}">About</a>
    <a id = "nav_faq" class="item" href="{{ url_for('main.faq') }}">FAQ</a>
    {% if current_user.is_authenticated() %}
        <div id = "dashboard_dropdown" class="ui simple dropdown item">
            Dashboard <i class="dropdown icon"></i>
            <div class = "menu">
                {% set href = url_for(current_user.role.index + '.index') %}
                <a class="item" id="nav_dashboard" href="{{ href }}">Dashboard</a>
                <div class="header">Reports</div>
                {% if current_user.is_admin() or current_user.is_agency_worker() %}
                <a href="{{ url_for('reports.view_reports') }}" class="item">All Reports</a>
                {% endif %}
                <a href="{{ url_for('reports.view_my_reports') }}" class="item">My Reports</a>
                {% if current_user.is_admin() %}
                <div class="header">Admin</div>
                <a class="item" href="{{ url_for(current_user.role.index + '.all_agencies') }}">
                Manage Agencies</a>
                <a class="item" href="{{ url_for(current_user.role.index + '.add_agency') }}">
                Add New Agency</a>
                <a class="item" href="{{ url_for(current_user.role.index + '.registered_users') }}">
                Manage Users</a>
                <a class="item" href="{{ url_for(current_user.role.index + '.invite_user') }}">
                Invite New User</a>
                {% endif %}
                <div class="header">Account</div>
                <a href="{{ url_for('account.manage') }}" class="item"> My Account</a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro account_items(current_user) %}
    {% if current_user.is_authenticated() %}
        <a href="{{ url_for('account.logout') }}" class="item">Log out</a>
    {% else %}
        <a id = "nav_register" href="{{ url_for('account.register') }}" class="item">Register</a>
        <a id = "nav_login" href="{{ url_for('account.login') }}" class="item">Log in</a>
    {% endif %}
{% endmacro %}

{% macro mobile_nav(current_user, endpoints=None) %}
    <div class="mobile only row">
        <div class="ui fixed inverted main menu">
            <div class="left menu">
                <a class="icon item" id="open-nav"><i class="sidebar icon"></i></a>
            </div>
            {# The menu items which will be shown when open-nav is clicked #}
            <div class="ui left fixed vertical menu">
                {% if endpoints %}
                    {{ render_menu_items(endpoints) }}
                {% endif %}
                {{ header_items(current_user) }}
                {{ account_items(current_user) }}
            </div>
             <a class="header item" href="{{ url_for('main.index') }}">
             <img id = "CAC_logo">{{ config.APP_NAME }}</a>
        </div>
    </div>
{% endmacro %}

{# If `count` and `endpoints` are specified, the endpoints will be put into a
 # secondary menu. `count` should be the string (e.g. 'four') number of endpoints. #}
{% macro desktop_nav(current_user, endpoints=None, count=None) %}
    <div class="computer tablet only row">
        <div class="ui secondary pointing menu">
         <a class="header item" href="{{ url_for('main.index') }}">
         <img id = "CAC_logo">{{ config.APP_NAME }}</a>
        <div class="right menu">
                {{ header_items(current_user) }}
                {{ account_items(current_user) }}
            </div>
        </div>

        {# Endpoints go into a submenu #}
        {% if endpoints %}
            <div class="ui fixed {{ count + ' item' }} labeled icon fluid stackable sub menu">
                <div class="ui stackable container">
                    {{ render_menu_items(endpoints) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_nav(current_user, count, endpoints) %}
    <nav class="ui navigation grid {% if endpoints %}has-submenu{% endif %}">
        {{ mobile_nav(current_user, endpoints=endpoints) }}
        {{ desktop_nav(current_user, endpoints=endpoints, count=count) }}
    </nav>
{% endmacro %}
